* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  position: relative;
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(/img/ba1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  display: block;
  z-index: -2;
}

header::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  z-index: -1;
}

header h3,
header p {
  color: white;
}

header.container {
  z-index: 5;
}

.navbar {
  z-index: 10;
  position: fixed !important;
  top: 0;
  width: 100%;
}

.parrafo {
  font-size: 17px;
}

.card-text {
  font-size: 12px;
}
.title-section h6 {
  font-size: 13px;
  font-weight: 400;
}
.title-section span {
    border-bottom: 1px dashed;
}
.img-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container img {
  height: auto;
  width: 100%;
}
#lugar {
  color: white;
}

#lugar p {
  font-size: 13px;
}

.text-small {
  font-size: 11px;
}

form .btn {
  background-color: #96c93e;
  color: white;
}

form .btn:hover {
  background-color: #86b831;
  color: white;
}

footer {
  background-color: #1d4054;
  height: 100px;
}

footer a {
  color: white;
  width: 80px;
  text-align: center;
}

textarea[placeholder] {
  font-size: 18px;
}
#oradores, #lugar {
  padding-top: 90px !important;
}

